<h1> listing articles </h1>
<table>
	<tr> 
      <th>Title</th>
      <th>Text</th>
	</tr>

	<% @articles.each do |value| %>
	  <tr>
	    <td><%= value.title %></td>
	    <td><%= value.text %></td>
	    <td> <%= link_to 'Show',  article_path(value)  %>  </td>
	      <td> <%= link_to 'Edit',  edit_article_path(value)  %>  </td>
          <td><%= link_to 'Destroy', article_path(value),method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
	 <% end %>   
</table>